<p>header works!</p>
<nav class="navbar">
    <div class="navbar__container">
      <img
        src=""
        alt="logo"
        class="navbar__logo"
      />
      <div class="navbar__link-box">
        <p [routerLink]="['home']">Home</p>
        <p [routerLink]="['galleries']">Galleries</p>
        <p [routerLink]="['contact']">Contact</p>
        <p [routerLink]="['blog']">Blog</p>
      </div>
    </div>
  </nav>
  
